@media only screen and (min-width:320px) and (max-width:576px) {

  header {
    width: 100%;
    height: 50px;
    border-bottom: rgba(150, 149, 149, 0.767) solid 2px;
    background-color: black;
  }
  nav {
    width: auto;
    height: 100%;
    padding: 0rem 0rem;
    gap: 15rem;
  }
  #finanza {
    gap: 0rem;
    height: 25px;
    width: auto;
  }
  #finanza p {
    font-size: 20px;
    padding-left: 1rem;
  }
  #right {
    gap: 0rem;
    padding: 1rem 1rem;
  }
  #right a {
    font-size: 20px;
    padding-right: 1rem;
    color: white;
  }
  #right #call #header-right-top {
    font-size: 10px;
    padding-right: 5rem;
  }
  #right #call #header-right-bottom {
    font-size: 10px;
    padding-right: 5rem;
  }
  body{
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  #sec1 {
    padding-top: 4rem;
  }

  #sec1-bg {
    height: auto;
  }

  #sec1-content {
    gap: 0rem;
  }

  #content-text {
    flex-direction: column;
    align-items: end;
    justify-content: end;
    padding-left: 5rem;
    padding-top: 0.5rem;
  }

  #p1 {
    font-size: 15px;
    letter-spacing: 1px;
  }

  #p2 {
    font-size: 15px;
    letter-spacing: 1px;
  }

  #content-form {
    width: 225px;
    height: 225px;
    padding-top: 1.5rem;
    transform: translateY(-0.2%);
  }

  #inner-form {
    gap: 0rem;
  }

  #form-p {
    font-size: 10px;
  }

  #form-tagline {
    font-size: 8px;
  }

  #content-form form input[type="text"] {
    width: 150px;
    height: 20px;
  }

  #content-form form input[type="email"] {
    width: 90px;
    height: 20px;
  }

  #content-form form input[type="tel"] {
    width: 90px;
    height: 20px;
  }

  #content-form form input::placeholder,
  textarea::placeholder {
    padding-left: 0.8rem;
    font-size: 10px;
  }

  #content-form form textarea {
    width: 150px;
    height: 30px;
  }

  #form-btn {
    width: 60px;
    height: 20px;
    border-radius: 2px;
    background-color: #ecd407;
    font-size: 9px;
  }

  #p3 {
    font-size: 8px;
  }

  #bar {
    width: 100%;
    height: 150px;
    gap: 1rem;
  }

  .info {
    gap: 0.5rem;
  }

  .number {
    font-size: 13px;
  }

  .message {
    font-size: 10px;
  }

  #bar .line {
    width: 40px;
    height: 1px;
  }

  #sec3 img {
    height: 400px;
    padding: 2rem 2rem;
  }

  #sec3 #sec3-content {
    gap: 1rem;
    flex-wrap: wrap;
  }

  #sec3-content-part1 {
    gap: 4rem;
  }

  #sec3 #sec3-content #sec3-heading {
    font-size: 20px;
  }

  #sec3 #sec3-content #sec3-commas {
    font-size: 100px;
  }

  #sec3 #sec3-content #sec3-message {
    font-size: 10px;
    line-height: 20px;
    text-align: center;
  }

  #sec3 #sec3-content img {
    width: 120px;
    height: 120px;
  }

  #sec3 #sec3-content #person #name,
  #designation {
    font-size: 15px;
  }

  .sec4{
    width: 100vw;
  }

  #sec4 img {
    width: 575px;
    height: 200px;
  }

  #sec4 #sec4-content {
    padding-top: 5rem;
    gap: 1rem;
    width: 100vw;
  }

  #sec4 #sec4-content #contacts {
    gap: 2rem;
  }

  #sec4 #sec4-content #contacts .phone a {
    width: 20px;
    height: 20px;
    font-size: 15px;
 

  }

  #sec4 #sec4-content #contacts .phone {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #sec4 #sec4-content #contacts .phone .phone-message {
    font-size: 12px;
  }

  #sec4 #sec4-content #sec4-message {
    font-size: 7.2px;
    text-align: center;
    line-height: 10px;
    width: 100vw;
  }

  #sec4 #sec4-content #contacts .line {
    width: 2px;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer p {
    font-size: 10px;
  }

}